---
menu:
  - - /
    - Home
  - - /format/
    - Format
  - - /encryption/
    - Encryption
  - - /v1/
    - Legacy
---

{% comment %}
<!-- prettier-ignore -->
{% endcomment %}
{% capture full_title -%}
{%- if title -%}
{{ title }} – BTHome
{%- else -%}
BTHome: Open standard for broadcasting sensor data over Bluetooth LE
{%- endif -%}
{%- endcapture %}
{% comment %}
<!-- prettier-unignore -->
{% endcomment %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/style.css" rel="stylesheet" />
    <title>{{ full_title }}</title>
    <link rel="icon" href="/images/bthome-favicon.png" type="image/png" />
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="{{ full_title }}" />
    <meta property="og:site_name" content="BTHome" />
    <meta property="og:url" content="https://bthome.io" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="https://bthome.io/images/social.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ full_title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="https://bthome.io/images/social.png" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a href="/"><img src="/images/logo.png" alt="BTHome logo" /></a>

        <ul>
          {% for item in menu %}
          <li>
            <a
              class="{% if page.url == item[0] %}active{% endif %}"
              href="{{ item[0] }}"
              >{{ item[1] }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="content">{{ content }}</div>

      <div class="footer">
        <div>
          <a href="https://bthome.io/">BTHome</a>
          &nbsp; – &nbsp;
          <a href="https://github.com/Bluetooth-Devices/bthome-ble/issues/"
            >GitHub</a
          >
        </div>
        <div class="initiative">
          BTHome is created by
          <a href="https://github.com/ernst79">Ernst Klamer</a> with the help of
          <a href="https://github.com/pvvx">Victor</a>.
        </div>
        <div class="initiative">
          BTHome is sponsored by
          <a href="https://shelly.cloud/">Shelly</a>
        </div>
      </div>
    </div>
  </body>
</html>
