body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.4;
}

a {
  color: #03a9f4;
}
.container {
  margin: 0 auto;
  padding: 16px 8px;
  max-width: 600px;
}
h3 {
  margin: 2rem 0 1rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .title {
  font-size: 2em;
  text-decoration: none;;
  color: initial;
  font-weight: 700;
}
.header img {
  height: 48px;
  margin-left: -7px;
}
.header ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.header ul li {
  list-style: none;
}
.header li a {
  display: inline-block;
  padding: 4px;
  margin: 0 4px;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.header a.active {
  border-bottom-color: #03a9f4;
}
.content li {
  padding: 4px 0;
}
.content img {
  max-width: 100%;
}
.content pre {
  max-width: 100%;
  overflow-y: scroll;
}
improv-wifi-launch-button,
improv-wifi-serial-launch-button {
  display: inline-block;
}
improv-wifi-launch-button[supported],
improv-wifi-serial-launch-button[supported] {
  margin-right: 1em;
}
.projects {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.projects a {
  color: initial;
  text-decoration: none;
}
.project .logo > * {
  height: 50px;
}
.project .name {
  margin-top: 8px;
}
.center {
  text-align: center;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 25px;
  background: #ccc;
}

.footer {
  margin-top: 24px;
  border-top: 1px solid #ccc;
  padding-top: 24px;
  text-align: center;
}
.footer .initiative {
  font-style: italic;
  margin-top: 16px;
}
.hidden {
  display: none;
}
table {
  width: 100%;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

th {
  background-color: #e3e3e3;
}

th,
td {
  padding: 4px;
}
